.settings-container {
  width: 100%;

  .settings-list {
    width: 100%;
    height: 500px;
    list-style: none;
    .settings-list-item {
      display: flex;
      align-items: center;
      margin-top: 25px;
      width: 100%;
      .help-icon {
        width: 50px;
      }
      .setting-text {
        // margin-left: 25px;
        width: 60%;
        display: flex;
      }
      .settings-dropdown, .save-settings {
        width: 20%;
      }
    }
  }
}