.edit-profile-container {
  padding: 8px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .field-container, .height-wrapper {
      float:left;
      width: 90%;
      display: flex;
      flex-direction: column;
      label {
        text-align: left;
        margin-left: 3px;
        margin-bottom: 2px;
      }
    }

    .prof-pic-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      img {
        border-radius: 50%;
        height: 80%;
        width: 80%;
      }
    }

    input[type="email"],
    input[type="text"],
    textarea,
    input[type="number"] {
      // background-color: rgb(226, 239, 251);
      color: black;
      padding: .5em;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;
    }

    input[type='file'] {
      display: none;
    }

    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      border-radius: 5px;
      margin-top: 10px;
      padding: 6px 12px;
      cursor: pointer;
    }

    .submit-container {
      width: 90%;
      display: flex;
      flex-direction: row-reverse;
      input[type="submit"] {
        // float: right;
        cursor: pointer;
        margin-top: 14px;
        margin-bottom: 10px;
        color: white;
        background-color: rgb(59, 72, 255);
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 5px 10px;
      }
      .cancel {
        cursor: pointer;
        // float: right;
        margin-right: 8px;
        margin-top: 14px;
        margin-bottom: 10px;
        color: black;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }

    .weight-container, .height-container {
      display: flex;
      flex-direction: row;
      .weight-units, .height-units {
        display: flex;
        align-items: center;
        margin-left: 5px;
      }
    }
  }
}