.homepage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #4911e2, #51a1ec);
  h1 {
    z-index: 2;
  }
  .particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: -1;
}